@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword" method="post">

              @*  div  لوفيه   ايرو بيطلع في 

                All  => make error validatio for Model and default
                ModelOnly=>make error validation for Model ResetPasswordViewModel
                seesion(8) video 14 miniute 23


              *@
            <div asp-validation-summary="ModelOnly"></div>

            <input asp-for="Password" placeholder="Password" required="">
            <span asp-validation-for="Password"></span>
            <br />
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <span asp-validation-for="ConfirmPassword"></span>
            <br />

            <input type="submit" value="Change Password">
        </form>
        <p> <a asp-action="LoginIn">Cancel</a></p>
    </div>
</div>
